<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:aop="http://www.springframework.org/schema/aop"
 xmlns:mvc="http://www.springframework.org/schema/mvc"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
					 http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
					 http://www.springframework.org/schema/mvc
					 http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
					 http://www.springframework.org/schema/aop
					 http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
					 http://www.springframework.org/schema/context
					 http://www.springframework.org/schema/context/spring-context-3.0.xsd">

   <context:component-scan base-package="sale.controller" />

   <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
      <property name="prefix" value="/WEB-INF/template/" />
      <property name="suffix" value=".jsp" />
   </bean>
   
   <bean id="webController" class="sale.controller.WebController" scope="session">
   		<property name="userUtil"  ref="userUtil" />
   		<aop:scoped-proxy/>
   </bean>
   
   <bean id="loginController" class="sale.controller.LoginController" scope="request">
   		<property name="userUtil"  ref="userUtil" />
   		<property name="lookupBean"  ref="lookupBean" />
   		<aop:scoped-proxy/>
   </bean>
   
   <bean id="registerMemberController" class="sale.controller.member.RegisterMemberController" scope="session">
   		<property name="userUtil"  ref="userUtil" />
   		<property name="lookupBean"  ref="lookupBean" />
   		<aop:scoped-proxy/>
   </bean>
   
   
   <bean id="userUtil" class="sale.util.UserUtil" scope="session">
   		<aop:scoped-proxy/>
   </bean>
   
   <bean id="customerController" class="sale.controller.member.CustomerController" scope="session">
   		<property name="userUtil"  ref="userUtil" />
   		<property name="lookupBean"  ref="lookupBean" />
   		<aop:scoped-proxy/>
   </bean>
   
   <bean id="employeeController" class="sale.controller.employee.EmployeeController" scope="session">
   		<property name="userUtil"  ref="userUtil" />
   		<property name="lookupBean"  ref="lookupBean" />
   		<aop:scoped-proxy/>
   </bean>
   
   <bean id="registerEmployeeController" class="sale.controller.employee.RegisterEmployeeController" scope="session">
   		<property name="userUtil"  ref="userUtil" />
   		<property name="lookupBean"  ref="lookupBean" />
   		<aop:scoped-proxy/>
   </bean>
   
   <bean id="editEmployeeController" class="sale.controller.employee.EditEmployeeController" scope="session">
   		<property name="employeeController"  ref="employeeController" />
   		<property name="userUtil"  ref="userUtil" />
   		<property name="lookupBean"  ref="lookupBean" />
   		<aop:scoped-proxy/>
   </bean>
   
   <bean id="editMemberController" class="sale.controller.member.EditMemberController" scope="session">
   		<property name="customerController"  ref="customerController" />
   		<property name="userUtil"  ref="userUtil" />
   		<property name="lookupBean"  ref="lookupBean" />
   		<aop:scoped-proxy/>
   </bean>
   
   <bean id="addProductController" class="sale.controller.product.AddProductController" scope="session">
   		<property name="userUtil"  ref="userUtil" />
   		<property name="lookupBean"  ref="lookupBean" />
   		<property name="categoryProductController"  ref="categoryProductController" />
   		<aop:scoped-proxy/>
   </bean>
   
   <bean id="editProductController" class="sale.controller.product.EditProductController" scope="session">
   		<property name="userUtil"  ref="userUtil" />
   		<property name="lookupBean"  ref="lookupBean" />
   		<property name="productListController"  ref="productListController" />
   		<property name="categoryProductController"  ref="categoryProductController" />
   		<aop:scoped-proxy/>
   </bean>
   
   <bean id="productListController" class="sale.controller.product.ProductListController" scope="session">
   		<property name="userUtil"  ref="userUtil" />
   		<property name="lookupBean"  ref="lookupBean" />
   		<aop:scoped-proxy/>
   </bean>
   
   <bean id="categoryProductController" class="sale.controller.product.CategoryProductController" scope="session">
   		<property name="userUtil"  ref="userUtil" />
   		<property name="lookupBean"  ref="lookupBean" />
   		<aop:scoped-proxy/>
   </bean>
   
   <bean id="productDetailController" class="sale.controller.product.ProductDetailController" scope="request">
   		<property name="userUtil"  ref="userUtil" />
   		<property name="lookupBean"  ref="lookupBean" />
   		<aop:scoped-proxy/>
   </bean>
   
   <bean id="shopController" class="sale.controller.shop.ShopController" scope="session">
   		<property name="userUtil"  ref="userUtil" />
   		<property name="lookupBean"  ref="lookupBean" />
   		<aop:scoped-proxy/>
   </bean>
   
   <bean id="shopDetailController" class="sale.controller.shop.ShopDetailController" scope="session">
   		<property name="userUtil"  ref="userUtil" />
   		<property name="lookupBean"  ref="lookupBean" />
   		<aop:scoped-proxy/>
   </bean>
   
   <bean id="shopOrderController" class="sale.controller.shop.ShopOrderController" scope="request">
   		<property name="userUtil"  ref="userUtil" />
   		<property name="lookupBean"  ref="lookupBean" />
   		<property name="shopDetailController"  ref="shopDetailController" />
   		<property name="categoryProductController"  ref="categoryProductController" />
   		<aop:scoped-proxy/>
   </bean>
   
   <bean id="searchProductController" class="sale.controller.product.SearchProductController" scope="request">
   		<property name="userUtil"  ref="userUtil" />
   		<property name="lookupBean"  ref="lookupBean" />
   		<property name="shopDetailController"  ref="shopDetailController" />
   		<aop:scoped-proxy/>
   </bean>
   
   <bean id="createOrderController" class="sale.controller.order.CreateOrderController" scope="request">
   		<property name="userUtil"  ref="userUtil" />
   		<property name="lookupBean"  ref="lookupBean" />
   		<property name="shopDetailController"  ref="shopDetailController" />
   		<aop:scoped-proxy/>
   </bean>
   
   <bean id="uploadImage" class="sale.servlet.UploadImage">
   		<property name="lookupBean"  ref="lookupBean" />
   </bean>
   
   <bean id="memberConverter" class="sale.converter.MemberConverter" scope="prototype">
   		<property name="lookupBean"  ref="lookupBean" />
   </bean>
   
   <bean id="statusConverter" class="sale.converter.StatusConverter" scope="prototype">
   		<property name="lookupBean"  ref="lookupBean" />
   </bean>
   
   <bean id="shipmentConverter" class="sale.converter.ShipmentConverter" scope="prototype">
   		<property name="lookupBean"  ref="lookupBean" />
   </bean>
   
   <bean id="imageAction" class="sale.servlet.ImageAction" scope="prototype">
   </bean>
   
   <bean id="customImageBytesResult" class="sale.servlet.CustomImageBytesResult">
   </bean>
 
 	<bean id="lookupBean" class="sale.util.LookupBean" scope="singleton"/>
</beans>